#conservative {
  display: none;
}

#liberal {
  display: none;
}

#moderate {
  display: none;
}

#invalid-number {
  display: none;
  color: red;
}

#invalid-number2 {
  display: none;
  color: red;
}

#invalid-number3 {
  display: none;
  color: red;
}
